<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org//dtd/mybatis-3-config.dtd">
<configuration>
 	<typeAliases>
    <typeAlias type="dto.AccountDto" alias="account"/>
    <typeAlias type="dto.BranchDto"  alias="branch"/>
    <typeAlias type="dto.KioskDto"   alias="kiosk"/>
	</typeAliases> 
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="org.mariadb.jdbc.Driver"/>
				<property name="url" value="jdbc:mariadb://localhost:3306/zeroloss"/>
				<property name="username" value="root"/>
				<property name="password" value="7564"/>
				<!-- 최대 활성 커넥션 수 : 동시에 사용할 수 있는 최대 커넥션 수-->
				<property name="poolMaximumActiveConnections" value="500"/>
				<!-- 최대 유휴 커넥션 수 : 사용하지 않고 대기 상태를 유지할 커넥션 개수-->
				<property name="poolMaximumIdleConnections" value="500"/>
			</dataSource>
		</environment>
	</environments>
	
	
	<mappers>
	<!-- 쿼리문 어디있어? 를 바로 아래줄에 기재해놓음 -->
		<mapper resource="mapper/kiosk2.xml"/>
	</mappers>
</configuration>	
